<div class="app-path">
  <div class="header markdown">
    <h3>Design DevOps</h3>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <span></span>
      <span class="spacer"></span>
      <div class="right">
        <button color="warn" mat-raised-button (click)="resetAll()">Reset</button>
        <span class="spacer">&nbsp;</span>
        <button color="accent" mat-raised-button (click)="removeColumn()" [disabled]="maxLength === 0">Remove</button>
        <span class="spacer">&nbsp;</span>
        <button color="primary" mat-raised-button (click)="addColumn()">Add</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="path-page">
    <div class="path">
      <div id="pipe-header">
        <div class="pipe-header" *ngFor="let pipe of pipeData;let i = index" id="{{i}}_header"
             [ngStyle]="getHeaderHeight()">
          <h2>{{pipe.title}}</h2>
        </div>
      </div>
      <div class='wrapper' id="pipe">
        <div class='path-container'
             *ngFor="let pipe of pipeData;let i = index"
             id="{{i}}_pipe"
             dragula="ITEMS"
             [(dragulaModel)]="pipe.items"
             (dragulaModelChange)="pipe.items = $event; dragItems()"
             [ngStyle]="getContainerStyle(pipe)">

          <textarea
            class="editable"
            id="pipe{{i}}_child{{j}}"
            [ngStyle]="getEditableStyle()"
            [ngModel]="pipeData[i].items[j]"
            (change)="updateItem(i, j, $event)"
            *ngFor="let item of pipeData[i].items;let j = index">

          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
