.app-path {
  margin-top: 66px;

  #pipe {
    position: relative;
    float: right;
    display: inline-block;
    width: calc(100% - 138px);
    max-width: 100%;
    padding-right: 32px;
  }

  .header {
    top: 1em;

    h3 {
      text-align: center;
    }
  }

  .path-container {
    padding: 0;
    max-width: 100%;
    max-height: 180px;
    width: 100%;
    color: #fff;
    line-height: 1.3em;
    border: 1px dashed #fff;
    border-radius: 6px;
    display: flex;

    textarea {
      resize: none;
      height: 150px;
      max-height: 150px;
      display: block;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      border: none;
      margin: 5px;
      width: 10%;
      max-width: 10%;
    }
  }

  .path-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .path-container > div.empty {
    background-color: rgba(0, 0, 0, 0.05);
  }

  #header {
    height: 80px;
    text-align: center;
  }

  #header h1 {
    line-height: 80px;
  }

  #pipe-header {
    position: absolute;
    left: 20px;
  }

  .pipe-header h2 {
    position: relative;
    top: calc(50% - 1.6rem);
  }

  .add-item {
    top: 3rem;
    position: absolute;
    right: 4rem;
  }

  .download {
    top: 3rem;
    position: absolute;
    right: 35rem;
  }

  .remove-column {
    top: 3rem;
    position: absolute;
    right: 18rem;
  }

  #color-green {
    background-color: #00a300;
  }

  #color-greendark {
    background-color: #1e7145;
  }

  #color-greenlight {
    background-color: #99b433;
  }

  #color-magenta {
    background-color: #ff0097;
  }

  #color-purplelight {
    background-color: #9f00a7;
  }

  #color-purple {
    background-color: #7e3878;
  }

  #color-purpledark {
    background-color: #603cba;
  }

  #color-darken {
    background-color: #1d1d1d;
  }

  #color-teal {
    background-color: #00aba9;
  }

  #color-bluelight {
    background-color: #eff4ff;
  }

  #color-blue {
    background-color: #2d89ef;
  }

  #color-bluedark {
    background-color: #2b5797;
  }

  #color-yellow {
    background-color: #ffc40d;
  }

  #color-orange {
    background-color: #e3a21a;
  }

  #color-orangedark {
    background-color: #da532c;
  }

  #color-red {
    background-color: #b91d47;
  }

  #color-redlight {
    background-color: #e11;
  }

  #color-white {
    background-color: #fff;
  }
}
