@import '../../variables';

:host {
  //border: 2px solid $border-color;
  padding: 2px;
}

$selected-color: #fff;

@media screen and (min-width: 2501px) and (max-width: 4000px) {
  .atom-container {
    width: 80px !important;
    height: 80px !important;
  }
}

.atom-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 3px;
  width: 64px;
  height: 64px;
  color: #fff;

  &:hover {
    transform: scale(2);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  p {
    margin: 0;
    padding: 0;

    &.atomic {
      font-size: 0.7em;
      top: 0.2em;
    }

    .pay-type {
      float: right;
      margin-right: 4px;
    }

    &.symbol {
      margin-top: 0.2em;
      font-size: 1em;
      font-weight: bold;
    }

    &.name,
    &.weight {
      margin-top: 0.2em;
      font-size: 0.8em;
    }
  }

  &.sourceControl {
    background: #7f195e;
  }

  &.blurry {
    opacity: 0.5;
  }

  .gas {
    color: $gas-color;
  }

  .liquid {
    color: $liquid-color;
  }

  .solid {
    color: $solid-color;
  }

  .unknown {
    color: $unknown-color;
  }

  &.solid-selected,
  &.liquid-selected,
  &.gas-selected,
  &.unknown-selected {
    color: $selected-color;
  }

  &.solid-selected {
    background: $solid-background-color;
  }

  &.liquid-selected {
    background: $liquid-background-color;
  }

  &.gas-selected {
    background: $gas-background-color;
  }

  &.unknown-selected {
    background: $unknown-background-color;
  }

  &.grayout {
    background: $gray;
  }
}
