@import '../../../../styles/periodic-variables';

$selected-color: #fff;

@media screen and (min-width: 1600px) and (max-width: 4000px) {
  .atom-container {
    width: 80px !important;
    height: 80px !important;
  }
}

.atom-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 3px;
  width: $periodic-square;
  height: $periodic-square;
  color: #fff;
  transition: transform 0.2s; /* Animation */

  &.unselect {
    //opacity: 0.8;
  }

  &.selected-category {
    background: #000;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.5);
    z-index: 1111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  p {
    margin: 0;
    padding: 0;

    &.atomic {
      font-size: 0.7em;
    }

    .pay-type {
      float: right;
      margin-right: 4px;
    }

    &.symbol {
      font-size: 1em;
      font-weight: bold;
    }

    &.name,
    &.weight {
      font-size: 0.8em;
      line-height: 1em;
    }
  }

  &.blurry {
    opacity: 0.5;
  }
}

.discontinued-dot {
  &::after {
    width: 8px;
    height: 8px;
    content: '';
    display: inline-block;
    margin-left: 80%;
    margin-top: 15%;
    border-radius: 50%;
    background-color: rgba(86, 86, 86, 0.549);
  }
}

@media screen and (max-width: 1280px) {
  .discontinued-dot::after {
    margin-top: 0;
  }
}
