@import '../../variables';

:host {
    flex: 0 0 100%;

    display: flex;
    justify-content: center;
}

$margin-size: 6px;
$padding-size: 10px;

@mixin metal-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.selection-bar {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .other,
    .metal-container,
    .nonmetal-container {
        border: 1px solid $border-color;
        margin-left: 0px;
        margin-right: $margin-size;
        padding: $padding-size;

        p {
            &.title {
                @include metal-title();
            }
        }

        div {
            display: flex;
            justify-content: center;

            span {
                &.title-underline {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .buttons {
            margin-top: 5px;
            display: flex;

            button {
                margin: $margin-size $margin-size 0 0;
                padding: $margin-size;
                cursor: pointer;

                &.selected {
                    border: 4px solid $thick-border-color;
                }

                &.gray {
                    background: $gray;
                }

                > span {
                    font-size: 1em;
                    //writing-mode: vertical-rl;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            // button:last-child {
            //   //margin-left: $margin-size;
            //   margin-right: 0;
            // }
            // button span {
            //   font-size: 1em;
            //   //writing-mode: vertical-rl;
            // }
        }
    }
}
