:host {
  padding: 2em;
}

.slider {
  width: 100%;
  padding-left: 2em;

  div {
    display: inline-block;
  }

  .name {
    width: 100px;
  }

  .slide {
    width: auto;
  }

  .slide-element {
    width: 300px;
  }
}
