<div *ngFor="let item of markdownData" class="markdown-reporter markdown">
  <div [ngSwitch]="item.type">
    <div *ngSwitchCase="'chart'">
      <div class="charts">
        <ledge-bar-chart [data]="item.data"></ledge-bar-chart>
      </div>
    </div>

    <div *ngSwitchCase="'table'">
      <table>
        <thead>
        <tr>
          <th *ngFor="let h of item.header">{{h}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of item.cells">
          <th *ngFor="let cell of row">{{cell}}</th>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngSwitchCase="'paragraph'">
      <div [innerHTML]="item.data"></div>
    </div>

    <div *ngSwitchCase="'process-step'">
      <div class="markdown-process-step">
        <div class="process-step-column" *ngFor="let row of item.data.childrens">
          <div class="process-title">{{row.name}}</div>
          <div class="process-body">
            <div class="process-step-item" *ngFor="let cell of row.childrens">{{cell.name}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'process-table'">
      <div class="process-table markdown-table">
        <div class="table-container" role="table" aria-label="Destinations">
          <div class="flex-table header" role="rowgroup">
            <div class="flex-row cell type_{{index}}" *ngFor="let header of item.data.header;let index = index;">
              {{header}}
            </div>
          </div>
        </div>
        <div class="table-space"></div>
        <div class="flex-table row">
          <div class="table-column" *ngFor="let row of item.data.cells;">
            <div class="cell" *ngFor="let cell of row">{{cell}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'heading'">
      <h1 *ngIf="item.depth === 1">{{item.text}}</h1>
      <h2 *ngIf="item.depth === 2">{{item.text}}</h2>
      <h3 *ngIf="item.depth === 3">{{item.text}}</h3>
      <h4 *ngIf="item.depth === 4">{{item.text}}</h4>
      <h5 *ngIf="item.depth === 5">{{item.text}}</h5>
      <h6 *ngIf="item.depth === 6">{{item.text}}</h6>
    </div>

    <div *ngSwitchCase="'code'">
      <pre class="language-{{item.lang}}">
        <code class="language-{{item.lang}}">{{item.text}}</code>
      </pre>
    </div>

    <div *ngSwitchDefault>
      {{stringify(item)}}
    </div>
  </div>
</div>
