.maturity {
  width: 80%;
  max-width: 1200px;
  margin: 66px auto 0;
  height: calc(100vh - 66px);
}

.maturity-outline {
  font-size: 20px;
  text-indent: 50px;
  line-height: 30px;
  padding: 50px;
}
