<div class="maturity">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="DevOps 成熟度模型">
      <div class="maturity-outline">
        <p>
          研发运营一体化 (DevOps)
          能力成熟度模型覆盖端到端软件将会生命周期全流程，是一套体系化的方法论，实践和标准的集合。研发运营一体化（DevOps）总体架构可划分为三部分，即过程（敏捷开发管理、持续交付、技术运营）、应用设计、风险管理、组织结构。
        </p>
      </div>
      <div *ngFor="let item of list">
        <app-maturity-item [data]="item"></app-maturity-item>
      </div>
    </mat-tab>
    <mat-tab label="OWASP 安全成熟度模型">
      <div>
        <ledge-render [content]="item.content"></ledge-render>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
