@import '../../../../styles/color';

.resources {
  margin-top: 2em;
}

p {
  margin-top: 1em;
}

.no-description,
.no-resources {
  color: $mid-gray;

  a {
    color: $black;
  }
}

.discontinued {
  display: block;
  margin-top: -1.8em;
  font-size: 0.8em;
  text-indent: 0.1em;
  color: gray;
}
