:host {
  position: relative;
  box-sizing: border-box;
}

.markdown-toc {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: scroll;

  .left-drawer {
    width: 20%;
    min-width: 160px;
    height: calc(100vh - 66px);
  }

  .right-content {
    width: 100%;
  }
}

.no-toc-markdown {
  width: 95%;
  margin: 1em auto 0;
}

.sticky {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  top: 0;
  height: 100vh;
}

.scroll-to-top {
  position: fixed;
  bottom: 64px;
  right: 32px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  z-index: 999;
  transition: all .2s ease-in-out;
}
