$black: #111;
$white: #fff;
$purple: #7753df;
$background-color: #f9f9f9;
$green: #5b8e5b;
$tooltip-bg: #7753df;

$error-color: red;

$lighter-gray: #e0e1e9;
$border-color: $lighter-gray;
$mid-gray: #ccc;
$hover-grey: #f3f4f5;
