.graphviz {
  svg {
    border: 1px solid #999;
    overflow: visible;

    width: 1200px;
    height: 600px;
  }

  .node {
    white-space: nowrap;
  }

  .node rect,
  .node circle,
  .node ellipse {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
  }

  .cluster rect {
    stroke: #333;
    fill: #000;
    fill-opacity: 0.1;
    stroke-width: 1.5px;
  }

  .edgePath path.path {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
  }
}
