@import './color';

// Navigation Bar
.app-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.mat-tooltip-panel {
  .mat-tooltip {
    background-color: $tooltip-bg;
    font-size: 14px;
  }
}
.mat-drawer:not(.mat-drawer-side) {
  box-shadow: 0px 8px 10px -5px rgba(255, 255, 255, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(255, 255, 255, 0.12);
}
.mat-drawer.mat-sidenav {
  margin-top: 56px;
  position: fixed;
}

.mat-toolbar {
  box-shadow: 0 1px 0 0 $lighter-gray;

  &.mat-accent {
    color: $purple;
    background: $white;
    box-shadow: none;
    border-bottom: solid 1px $border-color;
  }

  .mat-toolbar-row {
    align-items: stretch;
    @media screen and (max-width: 640px) {
      padding: 0px 0px;
    }
  }

  .mat-button {
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    border-radius: 0;

    &.active {
      color: $white;
      background-color: $purple;
    }
  }
}

.cdk-overlay-container {
  .cdk-overlay-backdrop.nav-menu-wrapper {
    & + .cdk-overlay-connected-position-bounding-box {
      .mat-menu-panel {
        margin-top: 16px;
        border-radius: 0;

        .mat-menu-content:not(:empty) {
          padding-top: 0;
          padding-bottom: 0;
        }

        .mat-menu-content {
          .mat-menu-item {
            line-height: 60px;
            height: 60px;
            box-shadow: 0 1px 0 0 $lighter-gray;

            &:hover {
              color: $purple;
              background-color: rgba($purple, 0.2);
            }
          }
        }
      }
    }
  }
}
