@media screen and (max-width: 1024px) {
  .left-drawer {
    display: none;
  }

  body {
    min-width: auto!important;
  }

  .button-logo {
    margin-left: 0 !important;
  }

  .markdown-toc .right-content {
    width: 100%;
  }
}

