.ledge-side-menu {
  button {
    padding: 0.5em;
    width: 8em;
  }
}
@media screen and (max-width: 1366px) {
  .button-logo {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .left-drawer {
    display: none !important;
  }

  body {
    min-width: auto!important;
  }

  .markdown-toc .right-content {
    height: 100%;
    width: 100%;
  }
}

