.ledge-side-menu {
  button {
    font-size: 1rem;
    border-radius: 0px;
    padding: 0.5em;
    width: 100%;
    &.active {
      color: $white;
      background-color: $purple;
    }
  }
  width: 200px;
}
@media screen and (max-width: 1366px) {
  .button-logo {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .left-drawer {
    display: none !important;
  }

  body {
    min-width: auto !important;
  }

  .markdown-toc .right-content {
    height: 100%;
    width: 100%;
  }
}
