$solid-background-color: #171717;
$liquid-background-color: #2D51E1;
$gas-background-color: #923A49;
$unknown-background-color: #898989;
$gas-color: #990000;
$liquid-color: #0000dd;
$solid-color: #000;
$unknown-color: #667766;
$border-color: #CCC;
$thick-border-color: #9a9a9a;
$gray: #D3D3D3;

$periodic-square: 64px;

.packageManage {background: #666666}
.scm { background:#7f195e; } /* SCM */
.deployment  { background:#09c95e; } /* DEPLOYMENT */
.analytics  { background:#008988; } /* ANALYTICS */
.database  { background:#f37c20; } /* DATABASE */
.containers  { background:#3e4853; } /* CONTAINERS */
.monitoring  { background:#6a7b8d; } /* MONITORING */
.ci  { background:#46bbff; } /* CI */
.releaseOrchestration  { background:#06803c; } /* RELEASE ORCHESTRATION */
.security { background:#008ddf; } /* SECURITY */
.testing { background:#dc5332; } /* TESTING */
.openCloud  { background:#e9bd1e; } /* CLOUD */
.publicCloud  { background: #762ce9; } /* CLOUD */
.collaboration  { background:#aa217e; } /* COLLAB */
.config  { background:#005d92; } /* CONFIG */
.aiops  { background:#bc580a; } /* AI OPS */
.operation  { background: #4178bc; } /* AI OPS */
.atom-placeholder {background: #dda750;}
.platform {background: #dd002c;}
