@import '../../variables';

$default-font-size: 1.4rem;
$phase-font-size: 2.5rem;
$shell-font-size: 0.85rem;
$name-font-size: 0.75rem;

@mixin listItemStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.atom {
    &-container {
        display: flex;
        height: 100%;
        padding: 5px;

        .gas {
            color: $gas-color;
            font-size: $phase-font-size;
        }

        .solid {
            color: $solid-color;
            font-size: $phase-font-size;
        }

        .unknown {
            color: $unknown-color;
            font-size: $phase-font-size;
        }

        .liquid {
            color: $liquid-color;
            font-size: $phase-font-size;
        }

        &-summary {
            @include listItemStyle();
            font-size: $default-font-size;
            flex: 1 0 auto;

            .name,
            .weight {
                font-size: $name-font-size;
            }
        }

        &-shelf {
            @include listItemStyle;
            font-size: $shell-font-size;
            flex: 0 0 auto;
            text-align: right;
        }
    }
}
