<div class="process-table">
  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row cell"
           [ngStyle]="getHeaderColumn()"
           *ngFor="let header of processTable.header;let first = first;let index = index"
           [ngClass]="getHeaderClass(index)">
        {{header}}
      </div>
    </div>
    <div class="table-space"></div>
    <div class="flex-table row">
      <div class="table-column" [ngStyle]="getColumnStyle()" role="rowgroup" *ngFor="let column of processTable.cells">
        <div class="cell"
             *ngFor="let cell of column;let first = first"  [ngClass]="first ? 'first' : ''">
          {{cell}}
        </div>
      </div>
    </div>
  </div>
</div>
