$solid-background-color: #171717;
$liquid-background-color: #2D51E1;
$gas-background-color: #923A49;
$unknown-background-color: #898989;
$gas-color: #990000;
$liquid-color: #0000dd;
$solid-color: #000;
$unknown-color: #667766;
$border-color: #CCC;
$thick-border-color: #9a9a9a;
$gray: #D3D3D3;
