<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-button routerLink="/home">DevOps</button>
    <span class="spacer"></span>
    <div class="right">
      <button mat-button routerLink="/home" routerLinkActive="active">首页</button>
      <button mat-button routerLink="/casestudy" routerLinkActive="active">案例学习</button>
      <button mat-button routerLink="/pattern" routerLinkActive="active">模式与原则</button>
      <button mat-button routerLink="/practise" routerLinkActive="active">最佳实践</button>
      <button mat-button routerLink="/manual" routerLinkActive="active">操作手册</button>
      <button mat-button routerLink="/mobile" routerLinkActive="active">Mobile DevOps</button>
      <button mat-button routerLink="/maturity" routerLinkActive="active">度量</button>
      <!--      <button mat-button routerLink="/resources" routerLinkActive="active">相关资源</button>-->
      <button mat-button routerLink="/report" routerLinkActive="active">报告</button>
      <button mat-button routerLink="/tool" routerLinkActive="active">工具</button>
      <button mat-button routerLink="/design" routerLinkActive="active">设计 DevOps</button>
      <a mat-button href="https://migration.ink/" target="_blank">系统重构</a>
      <a mat-button href="https://github.com/phodal/do" target="_blank" >
        <img src="/assets/images/github-circle-white-transparent.svg" alt="" class="github"> GitHub
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
