.intro {
  width: 80%;
  max-width: 1200px;
  margin: 2em auto;
  position: relative;
  text-align: center;
}

.period-title {
  margin: 0;

  h2 {
    margin: 0 auto;
  }
}

.process-bar {
  padding: 2em;
}

.second-header {
  margin-top: 4em;
}

.esp-insight {
  padding-top: 2em;
  margin: 0 auto 4em;
  width: 1080px;

  img {
    text-align: center;
  }
}
