<div class="container">
  <div class="title-desc">
    <h1>- LEDGE -</h1>
    <p>
      Ledge（源自 know-ledge，意指承载物）知识平台是基于我们所进行的一系列
      DevOps 实践、敏捷实践、精益实践提炼出来的知识体系。
    </p>
    <br>
    <p>
      -> <a href="https://github.com/phodal/ledge" class="home-link" target="_blank">GitHub</a>
    </p>
  </div>

  <div class="home-section period-section">
    <div class="period-title markdown">
      <div class="section-title">「它可以」</div>
      <h6 class="center"> - 帮助您的企业在数字化时代更好地前进。 - </h6>
      <p class="title intro">DevOps 元素周期表 —— 选择您的 DevOps 工具</p>
    </div>
    <app-periodic-table
      [selectedMetal]="highlightState"
      (currentAtomCategory)="setCurrentAtomCategory($event)"
    >
    </app-periodic-table>
  </div>

  <div class="home-section">
    <div class="section-title">「它可以」</div>
    <div class="section-sub-title">- 帮助您设计数字化时代的 DevOps 流程 -</div>
    <div class="process-title">
      DevOps 运动的主要特点是强烈倡导对构建软件的所有环节
      (从集成、测试、发布到部署和基础架构管理) 进行全面的自动化和监控。
    </div>
    <div class="process-content">
      <component-markdown-render
        [data]="processTemplate"
        [showScroll]="false"
      ></component-markdown-render>
    </div>
    <div class="section-sub-title">- 从而根据不同的企业情况，搭建出专属的 DevOps 流水线 -</div>
    <div class="devops-content">
      <component-markdown-render
        [data]="devOpsExample"
        [showScroll]="false"
      ></component-markdown-render>
    </div>
  </div>

  <div class="home-section">
    <div class="section-title">「它可以」</div>
    <div class="section-sub-title">- 帮助您寻找最适合的软件工程技术实践 -</div>
    <div class="sample-title">示例：质量内建 & 缺陷管理</div>
    <div class="section-content">
      <component-markdown-render
        [data]="homemd"
        [showScroll]="false"
      ></component-markdown-render>
    </div>
  </div>

  <div class="home-section">
    <div class="section-title">这就是 Ledge 知识平台</div>
    <div class="section-sub-title">沉淀我们的各种实践，向您提供全程的数据化变革策略、规划与咨询</div>
    <div class="section-content">
      <img src="/assets/images/esp.svg" alt="ESP Modeling"/>
    </div>
  </div>

  <div class="home-section relate">
    <div class="relate-title">相关资源</div>
    <div class="relate-resources">
      <a routerLink="/mobile" class="resource-item">移动端</a>
      <a routerLink="/maturity" class="resource-item">度量</a>
      <a routerLink="/report" class="resource-item">年度报告</a>
      <a routerLink="/resources" class="resource-item">DevOps 相关资源</a>
    </div>

    <div class="relate-title">相关工具</div>
    <div class="relate-resources">
      <a routerLink="/tool" class="resource-item">工具集</a>
      <a routerLink="/design" class="resource-item">设计 DevOps</a>
      <a routerLink="/helper" class="resource-item">Ledge 编辑器</a>
      <span class="resource-item">敬请期待</span>
    </div>
  </div>

  <div class="home-section contribution">
    <div class="section-title">Core Contributors</div>
    <div class="contributors">
      <div class="contributor" *ngFor="let user of contributors">
        <div class="avatar">
          <a href="{{ user.link }}" target="_blank"
          ><img src="{{ user.avatar }}" alt=""
          /></a>
        </div>
        <div class="username">
          <a href="{{ user.link }}" target="_blank">{{ user.name }}</a>
        </div>
        <div class="title">/{{ user.title }}/</div>
        <div class="work">{{ user.work }}</div>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>
