.intro {
  width: 80%;
  max-width: 1400px;
  margin: 1em auto;
  position: relative;
  text-align: center;
}

.period-title {
  margin: 0;

  h2 {
    margin: 0 auto;
  }
}

.process-bar {
  padding: 1em 0;
  margin: 0 1em;
}

.second-header {
  margin-top: 4em;
  margin-bottom: 2em;
}

.esp-insight {
  padding-top: 4em;
  margin: 2em auto 4em;
  width: 1080px;

  img {
    text-align: center;
    margin-top: 2em;
  }
}

.inspired {
  margin-top: 8em;
  text-align: center;
}

.contributors {
  display: flex;
  height: auto;

  .contributor {
    width: 180px;
    min-height: 180px;
    text-align: center;
    margin: auto;

    a {
      text-decoration: none;

      &:visited {
        color: black;
      }
    }

    .name {
      font-size: 1.4em;
      color: black;
    }

    .work {
      font-size: 1.0em;
    }

    img {
      height: 128px;
      width: 128px;
      border-radius: 128px;
    }
  }

}

.footer {
  background: #ff4081;
  display: flex;
  color: #fff;

  margin-top: 4em;
  padding-top: 4em;
  padding-bottom: 4em;

  .columns {
    width: 960px;
    margin: 0 auto;

    .rows {
      .cell-title {
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.6em;
      }
      .cell {
        color: #fff;
        font-size: 1.1em;

        a {
          padding: 0;
          color: #fff;
          line-height: 1.6em;
          text-decoration: none;
        }
      }
    }
  }
}
