<div class="path">
  <mat-toolbar>
    <mat-toolbar-row>
      <span></span>
      <span class="spacer"></span>
      <div class="right">
        <button color="primary" mat-raised-button (click)="addColumn()">Add</button>
        <span class="spacer">&nbsp;</span>
        <button color="accent" mat-raised-button>Remove</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="header">
    Path to Production
  </div>
  <div class="path">
    <div id="pipe-header">

    </div>
    <div class='wrapper' id="pipe">

    </div>
  </div>
</div>
