@import '~@angular/material/theming';
@import '../../../styles/behavior';

.solution {
  min-height: 600px;
  height: calc(100% - 64px);

  .active {
    background-color: #ff4081;
    color: #fff;
  }
}

.left-drawer {
  width: 15%;
  min-width: 200px;

  h2 {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 1.2rem;
      padding: 1rem;
      display: block;

      @extend .noselect;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.help-icon {
  top: 4px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}
