@import '~@angular/material/theming';
@import '../../../styles/behavior';
@import '../../../styles/color';

.solution {
  min-height: 600px;
  height: calc(100vh - 66px);
}

.left-drawer {
  width: 15%;
  min-width: 200px;

  h2 {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 0;
  }
}

.help-icon {
  top: 4px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}
