<mat-drawer-container class="solution">
  <mat-drawer mode="side" opened class="left-drawer">
    <h2>解决方案</h2>
    <ul>
      <li *ngFor="let casestudy of solutions"
          (click)="getCase(casestudy.source)"
          [ngClass]="casestudy.source === currentSource ? 'active' : '' ">
        <span>{{casestudy.displayName}}</span>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <component-markdown-render [data]="content"></component-markdown-render>
  </mat-drawer-content>
</mat-drawer-container>
