<div class="periodic-container">
    <div class="periodic-grid">
        <div class="phase-row-1 col-1">
            <app-phase
                    [type]="'sourceControl'"
                    [selected]="selectCategory === 'sourceControl'"
                    [symbol]="'Source Control'"
                    (enter)="enterPhase($event)"></app-phase>
        </div>

        <ng-container *ngIf="(atoms$ | async) as atoms">
            <app-atom
                    *ngFor="let atom of atoms"
                    class="periodic-atom-{{ atom.number }}"
                    [data]="atom"
                    [selectedCategory]="selectCategory"
                    [metalSelected]="metalClass"
                    (hoverAtom)="showAtomDetails($event)"
                    (click)="open(atom.name)"
            ></app-atom>
        </ng-container>
        <app-atom class="description" [data]="description"></app-atom>
    </div>

    <app-wiki *ngIf="wikiAtomName" [atomName]="wikiAtomName" (closeModal)="wikiAtomName = ''"></app-wiki>
</div>
