.list-style {
  margin: 20px;

  &.list-style-circle {
    display: flex;
    color: #fff;
    text-align: center;

    .list-style-item {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      line-height: 200px;
      margin-left: 20px;
    }
  }

  &.list-style-group-square {
    display: flex;
    color: #fff;
    text-align: center;

    > .list-style-item {
      width: 320px;
      height: 240px;
      font-size: 1.2em;
      padding: 3em 0 0 0;

      .sub-item,
      &.sub-item {
        .list-style-item {
          font-size: 0.8em;
          width: auto;
        }
      }
    }
  }
}
