.ledge-maturity {
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 24px;
  }

  .mat-list-base {
    padding-top: 0;
  }

  .mat-slider-horizontal {
    height: 32px;
  }

  .mat-slider-horizontal .mat-slider-wrapper {
    top: 13px;
  }
}
