
/* Colors */
$color1: #868e96;
$color2: #ec7b1a;
$color3: #dc5332;
$color4: #55acee;

.color-1 {
  color: $color1;
  fill: $color1;
  stroke: $color1;
}

.color-2 {
  color: $color2;
  fill: $color2;
  stroke: $color2;
}

.color-3 {
  color: $color3;
  fill: $color3;
  stroke: $color3;
}

.color-4 {
  color: $color4;
  fill: $color4;
  stroke: $color4;
}

.color-5 {
  color: #847575;
  fill: #847575;
  stroke: #847575;
}

/** Radar **/
#radar {
  /* Disable some webkit features to make the radar feel more native */
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

#radarChart {
  display: inline-block;
  grid-column: 1 /span 2;
  width: 100%;
  height: 100%
}

/* swap the last to legends as they run clockwise around the circle */
#radar > .legend-2 {
  grid-row: 3;
  grid-column: 2;
}

#radar > .legend-3 {
  grid-row: 3;
  grid-column: 1;
}

.tech-circle text,
.tech-circle circle {
  cursor: pointer;
  font-size: 0.8em;
  transition: 0.25s ease-in-out;
}

.tech-circle.active text,
.tech-circle.active circle {
  transform: scale(2);
  font-size: 1.2em;
}

@media (min-width: 1000px) {
  #radar {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #radarChart {
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }

  #radar > .legend-0 {
    grid-column: 1;
    grid-row: 1;
  }

  #radar > .legend-1 {
    grid-column: 3;
    grid-row: 1;
  }

  #radar > .legend-2 {
    grid-column: 3;
    grid-row: 2
  }

  #radar > .legend-3 {
    grid-column: 1;
    grid-row: 2;
  }
}
