<form class="form">
  <p>
    <mat-form-field class="half-width">
      <input matInput placeholder="岗位名称" maxlength="40" value="" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <input matInput placeholder="公司名称" maxlength="40" value="" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <textarea
        matInput
        placeholder="公司一句话介绍"
        maxlength="150"
      ></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="工作简介" style="height: 60px;" maxlength="350"></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="half-width">
      <input matInput placeholder="年限要求" maxlength="20" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="工作地址" maxlength="20" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="联系方式" />
    </mat-form-field>
  </p>
</form>
