@import '../../../styles/variables';

:host {
  display: block;
  width: auto;

  line-height: 1em;
}

.symbol {
  margin-left: 0.2em;
  font-size: 1.3em;
}

.item-block {
  display: inline-block;
  width: 1em;
  height: 1em;
}
