:host {
  position: relative;
  box-sizing: border-box;
}

.no-toc-markdown {
  width: 95%;
  margin: 1em auto 0;
}

.editit {
  float: right;
  top: 44px;
  position: relative;
  right: 30px;

  :hover {
    cursor: pointer;
  }
}

.sticky {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  top: 0;
  height: 100vh;
}

.scroll-to-top {
  position: fixed;
  bottom: 64px;
  right: 32px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}
