/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #fff;
}

.alkali-metal {
  background: #ffcc33;
}

.alkaline-earth-metal {
  background: #ffff44;
}

.lanthanide {
  background: #ffbb99;
}

.actinide {
  background: #eebbdd;
}

.transition-metal {
  background: #ddbbbb;
}

.post-transition-metal {
  background: #99ddcc;
}

.metalloid {
  background: #77dd88;
}

.nonmetal {
  background: #22ff22;
}

.noble-gas {
  background: #77ccff;
}

.unknown-metal {
  background: #dddddd;
}
