/* You can add global styles to this file, and also import other style files */
@import "styles/variables";

@import "styles/markdown";
@import "styles/dragula";
@import "styles/process-table";

html, body { height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #fff;
  font-size: 16px;
  overflow-y: scroll;
  margin: 0;
}

@media screen and (min-width: 2501px) and (max-width: 4000px) {
  body {
    font-size: 20px;
  }
}

.markdown {
  img {
    width: 400px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.loading {
  margin: 5em auto;
}

.center {
  text-align: center;
}
