@import '~@angular/material/theming';

.case-study {
  min-height: 600px;
  height: 100%;

  .active {
    background-color: #ff4081;
    color: #fff;
  }
}

.left-drawer {
  width: 15%;
  min-width: 200px;
  min-height: 100vh;

  h2 {
    margin-top: 20px;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 1.2rem;
      padding: 1rem;
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
