<mat-drawer-container class="case-study">
  <mat-drawer mode="side" opened class="left-drawer">
    <h2>案例（源自互联网收集）</h2>
    <ul>
      <li *ngFor="let case of cases"
          (click)="clickCase(case.source)"
          [ngClass]="case.source === currentSource ? 'active' : '' ">
        <span>{{case.displayName}}</span>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <component-markdown-render [src]="src"></component-markdown-render>
  </mat-drawer-content>
</mat-drawer-container>
