.case-study {
  min-height: 600px;
  height: 100%;
}

.left-drawer {
  width: 15%;
  min-width: 200px;
  padding-left: 20px;
  min-height: 100vh;
  height: 100vh;

  h2 {
    margin-top: 20px;
    text-align: center;
  }

  li {
    font-size: 1.2rem;
    padding: 1rem;
    display: block;
  }
}
