<mat-drawer-container class="case-study">
  <mat-drawer mode="side" opened class="left-drawer">
    <h2>案例（出处见来源）</h2>
    <ul>
      <li *ngFor="let casestudy of cases"
          (click)="getCase(casestudy.source)"
          [routerLink]="['/case-study', casestudy.source]"
          [ngClass]="casestudy.source === currentSource ? 'active' : '' ">
        <span>{{casestudy.displayName}}</span>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content #drawerContent>
    <component-markdown-render [data]="content"></component-markdown-render>
  </mat-drawer-content>
</mat-drawer-container>
