:host {
  width: 1600px;
  display: block;
  margin: 0 auto;
}

#markdown-radar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.rating-list {
  margin-top: 5em;
  margin-left: 5em;
}
