:host {
  display: block;
  margin: 0 auto;
}

#markdown-radar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#chart {
  height: 800px;
  width: 800px;
}

.rating-list {
  margin-top: 5em;
  margin-left: 5em;
}
