<div *ngIf="showToc">
  <mat-drawer-container class="markdown-toc">
    <mat-drawer mode="side" opened class="left-drawer">
      <ul class="toc" #toc [class.sticky]="sticky"></ul>
    </mat-drawer>
    <mat-drawer-content class="right-content" #drawerContent>
      <ledge-render [content]="data" *ngIf="data" (scroll)="handleScroll()"></ledge-render>

    </mat-drawer-content>
  </mat-drawer-container>
</div>

<div *ngIf="!showToc" class="no-toc-markdown">
  <ledge-render (scroll)="handleScroll()" [content]="data" *ngIf="data"></ledge-render>
</div>

<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}" *ngIf="showScroll">
  <button mat-fab aria-label="home" (click)="scrollToTop()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
