:host {
  ::-webkit-scrollbar {
    width: 0;
    background: #ddd;
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
}

.markdown-toc {
  min-height: 600px;
  height: calc(100vh - 64px);
  overflow-y: hidden;

  .left-drawer {
    width: 15%;
    min-width: 120px;
    //min-height: calc(100vh - 64px);
    //height: 100%;
    //overflow-y: scroll;
  }

  .right-content {
    padding: 0 2em;
  }
}

.no-toc-markdown {
  width: 95%;
  margin: 1em auto 0;
}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.scroll-to-top {
  position: fixed;
  bottom: 64px;
  right: 32px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  z-index: 999;
  transition: all .2s ease-in-out;
}
