:host {
  display: block;
  max-width: 2000px;
}

.markdown-toc {
  min-height: 600px;
  height: 100%;

  .left-drawer {
    width: 15%;
    min-width: 120px;
    min-height: 100vh;
  }

  .right-content {
    padding-left: 1em;
  }
}
