:host {
  position: relative;
}

.markdown-toc {
  .left-drawer {
    width: 15%;
    min-width: 120px;
    min-height: 100vh;
  }

  .right-content {
  }
}

.no-toc-markdown {
  width: 95%;
  margin: 1em auto 0;
}

.sticky {
  position: fixed;
  overflow: scroll;
  z-index: 10;
  height: calc(100vh - 66px);
}

.scroll-to-top {
  position: fixed;
  bottom: 64px;
  right: 32px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  z-index: 999;
  transition: all .2s ease-in-out;
}
